@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: white;
  color: black;
}

img {
  width: 80%;
}
.al_c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3vw;
  margin: 0;
  margin-bottom: 1em;
}

p {
  font-size: 1vw;
  max-width: 40vw;
  text-align: justify;
}

/* custom webkit scrollbar
 */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #505050;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: gray;

  text-decoration: none;
}

a.active {
  color: coral;
}

a:hover {
  color: coral;
  opacity: 0.8;
}

a:active {
  color: coral;
}

canvas {
  display: block;
}

header {
  position: fixed;
  z-index: 100;
  color: white;
  background-color: #202020;
  border-radius: 200px;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  margin: 2em;
  width: calc(100vw - 4em);
}

header nav a {
  margin-left: 1em;
}

section.light {
  padding-top: 5em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 5vw;
}

section.hori {
  padding: 5vw;
  padding-top: 5em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

section.center {
  padding: 5vw;
  padding-top: 5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

section.center img {
  height: 80vh;
}

#myImage {
  transition: all 1s;
}

.regdsc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.regdsc div div {
  padding: 20px;
  margin-bottom: 3em;
}

.regdsc div div p {
  width: 100%;
}

.range1 {
  background-color: #d6424b50;
  border-radius: 10px;
}

.range2 {
  background-color: #fdbe7050;
  border-radius: 10px;
}

.range3 {
  background-color: #f0f8a950;
  border-radius: 10px;
}

.range4 {
  background-color: #77c6a750;
  border-radius: 10px;
}

.range5 {
  background-color: #438fb450;
  border-radius: 10px;
}

.range6 {
  background-color: #486fb050;
  border-radius: 10px;
}

.hero_img img {
  margin-top: 2em;
  width: 100%;

  border-radius: 50px;
}

iframe {
  overflow: hidden;
}

.button {
  position: relative;
  background-color: #202020;
  border: none;
  border-radius: 50px;
  font-size: 1vw;
  color: #ffffff;
  padding: 20px;
  margin: 1em;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #dfdfdf;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1s;
  border-radius: 50px;
}

.button:hover {
  background: #303030;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
